.hero {
    // height: 80vh;
    background-color: #3d3737;
    opacity: 90%;

    .u-container {
        // background-color: green;
    }

    .title {
        color: #fcf4ef;
        padding-block-start: 5em;

        .shiftH1 {
            margin-inline-start: 0.5em;
        }

        .shiftP {
            margin-inline-start: 3.2em;
        }
    }
    .content {
        color: #fcf4ef;
        padding-block-start: 3em;
        padding-block-end: 5em;
    }
}
