.index {
  .hero {
    background-image: linear-gradient(112.1deg, rgba(19, 21, 31, 0.8) 11.4%, rgba(35, 42, 65, 0.9) 70.2%);
    position: relative;
    overflow: hidden;

    .video-bg {
      position: absolute;
      object-fit: cover;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }

    .u-container {
    }

    .title {
      color: var(--background-base-color);
      padding-block-start: 5em;

      .shiftH1 {
        margin-inline-start: 0.5em;
      }

      .shiftP {
        margin-inline-start: 3.2em;
      }
    }
    .content {
      color: var(--background-base-color);
      padding-block-start: 3em;
      padding-block-end: 5em;

      p {
        margin-block-end: var(--space-s);
      }
    }
  }

  .divider {
    display: flex;
    justify-content: flex-start;
    min-height: 100%;
    max-width: 100%;

    .divider__line {
      flex-basis: 30%;
      height: 1.2em;
      background-color: #0f1923;
    }

    .divider__text {
      padding-inline: 1em;
      font-family: "Bebas Neue";
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.2;
      display: block;
    }
  }

  .our-process {
    padding-block: var(--space-3xl);
    background-image: url(https://astro.build/assets/noise.webp);

    .our-process__content {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      & > * {
        flex: 1 1 30ch;
      }
    }
  }

  .tiny-story {
    padding-block: var(--space-3xl);
    background: #0f1923;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1022' height='355' fill='none' viewBox='0 0 1022 355'%3E%3Cg fill='%23fff' opacity='.02'%3E%3Cpath d='M0 2.285h37.245c12.948 0 22.392 3.048 28.333 9.142 5.941 5.942 8.912 15.16 8.912 27.654v9.827c0 16.607-5.484 27.12-16.452 31.538v.457c6.093 1.829 10.358 5.562 12.796 11.199 2.59 5.637 3.884 13.179 3.884 22.625v28.111c0 4.571.152 8.304.457 11.198.305 2.743 1.066 5.485 2.285 8.228H51.869c-.914-2.59-1.524-5.028-1.828-7.313-.305-2.286-.457-6.4-.457-12.342v-29.253c0-7.313-1.22-12.417-3.656-15.312-2.285-2.895-6.322-4.342-12.11-4.342h-8.683v68.562H0V2.285Zm34.274 68.563c5.027 0 8.76-1.295 11.197-3.886 2.59-2.59 3.884-6.932 3.884-13.026V41.594c0-5.79-1.066-9.98-3.199-12.57-1.98-2.59-5.18-3.884-9.597-3.884H25.135v45.708h9.14ZM128.488 164.549c-12.339 0-21.784-3.504-28.334-10.513-6.55-7.008-9.825-16.912-9.825-29.71V40.223c0-12.798 3.275-22.701 9.825-29.71C106.704 3.504 116.149 0 128.488 0c12.338 0 21.783 3.504 28.333 10.513 6.55 7.008 9.825 16.912 9.825 29.71v84.103c0 12.798-3.275 22.702-9.825 29.71-6.55 7.009-15.995 10.513-28.333 10.513Zm0-22.854c8.682 0 13.024-5.256 13.024-15.769V38.623c0-10.512-4.342-15.769-13.024-15.769-8.683 0-13.025 5.256-13.025 15.77v87.302c0 10.513 4.342 15.769 13.025 15.769ZM219.061 164.549c-12.034 0-21.25-3.428-27.648-10.284-6.245-6.856-9.368-16.531-9.368-29.025V39.309c0-12.493 3.123-22.168 9.368-29.025C197.811 3.428 207.027 0 219.061 0c12.034 0 21.174 3.428 27.42 10.284 6.397 6.857 9.596 16.531 9.596 29.025v16.912h-23.763V37.709c0-9.903-4.189-14.855-12.567-14.855-8.379 0-12.568 4.952-12.568 14.855v89.36c0 9.751 4.189 14.626 12.568 14.626 8.378 0 12.567-4.875 12.567-14.626v-24.454h23.763v22.625c0 12.494-3.199 22.169-9.596 29.025-6.246 6.856-15.386 10.284-27.42 10.284ZM271.115 2.285h25.135v67.42l31.989-67.42h25.135L323.441 61.02l30.39 101.244h-26.277l-21.251-71.305-10.053 20.34v50.965h-25.135V2.285ZM396.839 164.549c-12.186 0-21.402-3.428-27.648-10.284-6.245-7.009-9.368-16.988-9.368-29.939v-9.141h23.764v10.97c0 10.36 4.341 15.54 13.024 15.54 4.265 0 7.464-1.219 9.597-3.656 2.285-2.591 3.427-6.704 3.427-12.342 0-6.703-1.523-12.569-4.57-17.597-3.046-5.18-8.683-11.351-16.908-18.512-10.359-9.142-17.595-17.37-21.707-24.682-4.113-7.466-6.17-15.846-6.17-25.14 0-12.646 3.199-22.397 9.597-29.253C376.275 3.504 385.567 0 397.753 0c12.035 0 21.098 3.504 27.191 10.513 6.246 6.856 9.369 16.76 9.369 29.71v6.628h-23.764v-8.228c0-5.485-1.066-9.446-3.199-11.884-2.132-2.59-5.255-3.885-9.368-3.885-8.378 0-12.567 5.104-12.567 15.312 0 5.79 1.523 11.199 4.57 16.227 3.199 5.028 8.911 11.122 17.137 18.283 10.511 9.142 17.746 17.445 21.707 24.91 3.96 7.467 5.941 16.227 5.941 26.283 0 13.103-3.275 23.159-9.826 30.167-6.397 7.009-15.766 10.513-28.105 10.513ZM468.832 25.14h-26.277V2.285h77.688V25.14h-26.277v137.124h-25.134V25.139ZM541.347 2.285h34.046l26.048 159.979h-25.134l-4.57-31.767v.457h-28.562l-4.57 31.31h-23.307L541.347 2.285Zm27.419 106.957L557.57 30.167h-.457l-10.968 79.075h22.621ZM613.635 2.285h37.245c12.948 0 22.393 3.048 28.333 9.142 5.941 5.942 8.912 15.16 8.912 27.654v9.827c0 16.607-5.484 27.12-16.452 31.538v.457c6.093 1.829 10.359 5.562 12.796 11.199 2.589 5.637 3.884 13.179 3.884 22.625v28.111c0 4.571.153 8.304.457 11.198.305 2.743 1.067 5.485 2.285 8.228h-25.591c-.914-2.59-1.524-5.028-1.828-7.313-.305-2.286-.457-6.4-.457-12.342v-29.253c0-7.313-1.219-12.417-3.656-15.312-2.285-2.895-6.322-4.342-12.11-4.342h-8.683v68.562h-25.135V2.285Zm34.274 68.563c5.027 0 8.76-1.295 11.197-3.886 2.589-2.59 3.884-6.932 3.884-13.026V41.594c0-5.79-1.066-9.98-3.199-12.57-1.98-2.59-5.179-3.884-9.597-3.884H638.77v45.708h9.139ZM109.487 192.736h37.245c12.948 0 22.393 3.047 28.334 9.142 5.94 5.942 8.911 15.16 8.911 27.653v9.827c0 16.608-5.484 27.121-16.452 31.539v.457c6.093 1.828 10.359 5.561 12.796 11.199 2.59 5.637 3.884 13.179 3.884 22.625v28.111c0 4.57.153 8.303.457 11.198.305 2.743 1.067 5.485 2.285 8.228h-25.591c-.914-2.591-1.523-5.028-1.828-7.314-.305-2.285-.457-6.399-.457-12.341v-29.253c0-7.313-1.219-12.418-3.656-15.312-2.285-2.895-6.322-4.343-12.11-4.343h-8.683v68.563h-25.135V192.736Zm34.275 68.562c5.027 0 8.759-1.295 11.196-3.885 2.59-2.59 3.884-6.932 3.884-13.027v-12.341c0-5.79-1.066-9.98-3.199-12.57-1.98-2.59-5.179-3.885-9.596-3.885h-11.425v45.708h9.14ZM201.644 192.736h68.549v22.854h-43.414v42.28h34.503v22.854h-34.503v49.136h43.414v22.855h-68.549V192.736ZM284.652 192.736h31.533l24.449 95.759h.457v-95.759h22.392v159.979h-25.82L307.502 235.93h-.457v116.785h-22.393V192.736ZM418.495 355c-12.338 0-21.783-3.504-28.333-10.513-6.55-7.008-9.825-16.912-9.825-29.71v-84.103c0-12.798 3.275-22.702 9.825-29.71 6.55-7.009 15.995-10.513 28.333-10.513 12.339 0 21.784 3.504 28.334 10.513 6.55 7.008 9.825 16.912 9.825 29.71v84.103c0 12.798-3.275 22.702-9.825 29.71-6.55 7.009-15.995 10.513-28.334 10.513Zm0-22.854c8.683 0 13.025-5.257 13.025-15.769v-87.303c0-10.513-4.342-15.769-13.025-15.769-8.682 0-13.024 5.256-13.024 15.769v87.303c0 10.512 4.342 15.769 13.024 15.769ZM466.579 192.736h25.363l16.452 124.098h.457l16.452-124.098h23.078L524.16 352.715H490.8l-24.221-159.979ZM573.405 192.736h34.045l26.049 159.979h-25.135l-4.57-31.768v.457h-28.562l-4.569 31.311h-23.307l26.049-159.979Zm27.419 106.957-11.196-79.075h-.457l-10.968 79.075h22.621ZM654.856 215.59h-26.277v-22.854h77.688v22.854h-26.276v137.125h-25.135V215.59ZM718.437 192.736h25.134v159.979h-25.134V192.736ZM798.726 355c-12.339 0-21.783-3.504-28.333-10.513-6.551-7.008-9.826-16.912-9.826-29.71v-84.103c0-12.798 3.275-22.702 9.826-29.71 6.55-7.009 15.994-10.513 28.333-10.513 12.339 0 21.783 3.504 28.333 10.513 6.551 7.008 9.826 16.912 9.826 29.71v84.103c0 12.798-3.275 22.702-9.826 29.71-6.55 7.009-15.994 10.513-28.333 10.513Zm0-22.854c8.683 0 13.024-5.257 13.024-15.769v-87.303c0-10.513-4.341-15.769-13.024-15.769s-13.024 5.256-13.024 15.769v87.303c0 10.512 4.341 15.769 13.024 15.769ZM853.883 192.736h31.532l24.449 95.759h.457v-95.759h22.393v159.979h-25.82L876.732 235.93h-.457v116.785h-22.392V192.736ZM984.07 355c-12.187 0-21.403-3.428-27.648-10.284-6.246-7.009-9.369-16.989-9.369-29.939v-9.142h23.764v10.97c0 10.361 4.341 15.541 13.024 15.541 4.266 0 7.464-1.219 9.597-3.657 2.285-2.59 3.427-6.704 3.427-12.341 0-6.704-1.523-12.57-4.569-17.598-3.047-5.18-8.683-11.35-16.909-18.511-10.359-9.142-17.594-17.37-21.707-24.683-4.113-7.465-6.17-15.845-6.17-25.139 0-12.646 3.199-22.397 9.597-29.253 6.398-7.009 15.69-10.513 27.877-10.513 12.034 0 21.096 3.504 27.186 10.513 6.25 6.856 9.37 16.759 9.37 29.71v6.627h-23.761v-8.227c0-5.485-1.066-9.446-3.198-11.884-2.133-2.59-5.256-3.885-9.369-3.885-8.378 0-12.567 5.104-12.567 15.312 0 5.79 1.523 11.198 4.57 16.226 3.199 5.028 8.911 11.123 17.137 18.284 10.508 9.141 17.748 17.445 21.708 24.911 3.96 7.465 5.94 16.226 5.94 26.282 0 13.103-3.28 23.159-9.83 30.167-6.39 7.009-15.761 10.513-28.1 10.513Z'/%3E%3C/g%3E%3C/svg%3E");

    & header {
      color: var(--secondary-color);
    }

    & article p {
      color: var(--background-base-color);
    }

    & .divider {
      .divider__line {
        flex-basis: 5%;
        height: 1em;
        background: var(--background-base-color);
      }
      margin-block-end: var(--space-s);
    }
  }

  .case-studies {
    padding-block-start: var(--space-3xl);
    background-image: url(https://astro.build/assets/noise.webp);

    .demo-galery img {
      object-fit: cover;
      width: 300px;
      height: 300px;
      border-radius: 5px;
    }
  }

  .reviews {
    padding-block: var(--space-3xl);
    background-image: url(https://astro.build/assets/noise.webp);

    .u-container {
      display: flex;
      justify-content: center;
      p {
        font-size: var(--step-1);
      }
    }
  }
}
