.our-story {
    background: var(--background-base-color);
    background-image: url(https://astro.build/assets/noise.webp);
    header {
        .title {
            padding-block-start: 5em;
            h1 {
                color: var(--dark-color);
                line-height: 1.2;
            }
            p {
                color: var(--dark-color);
            }
        }
    }
    .story {
        padding-block: var(--space-l);
        color: var(--dark-color);
    }
}
