---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<main class='contact'>
		<Navbar />
		<header class='hero'>
			<div class='u-container'>
				<div class='title flow'>
					<h1>Reach out and renovate.</h1>
					<p>
						Get in touch with us for your next renovation project. Let use help you make it a dream
						come true. For project details please include goals, deadline and time estimates,
						project budget or budget estimates.
					</p>

					<p>
						By sending a project request to Rockstar Renovations, clients agree to our <a
							href='/terms-of-service'
						>
							terms of service.
						</a>
					</p>
				</div>
			</div>
		</header>

		<section class='contact-us'>
			<div class='u-container flow'>
				<article>
					<ul role='list' class='flow'>
						<li>
							<a href='mailto:rockstarrenovations2020@gmail.com?subject=Project Request'>
								<i class='fa-solid fa-envelope'></i>&nbsp; Rockstar Renovations2020@gmail.com
							</a>
						</li>
						<li><i class='fa-solid fa-phone-office'></i>&nbsp; 1+ 785-760-0016</li>
					</ul>
				</article>
			</div>
		</section>
	</main>
</Layout>
