---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<main class='gallery'>
		<header>
			<Navbar />
			<div class='u-container'>
				<div class='title'>
					<h1>Album of renovations.</h1>
				</div>
			</div>
		</header>

		<section class='gallery-images'>
			<div class='u-container flow'>
				<!-- <menu class='our-process__subtitle'>
					<ul>
						<li><a href='#'>Bath</a></li>
						<li><a href='#'>Home</a></li>
						<li><a href='#'>Kitchen</a></li>
						<li><a href='#'>Landscape</a></li>
					</ul>
				</menu> -->
				<article>
					<div class='demo-galery smol-flexbox-grid'>
						<img alt='picture of kitchen renovation' src='/images/1.jpg' />
						<img alt='picture of bathroom renovation' src='/images/2.jpg' />
						<img alt='picture of bathroom renovation' src='/images/3.jpg' />
						<img alt='picture of bathroom renovation' src='/images/4.jpg' />
						<img alt='picture of bathroom renovation' src='/images/5.jpg' />
						<img alt='picture of entrance renovation' src='/images/6.jpg' />
						<img alt='picture of bathroom renovation' src='/images/7.jpg' />
						<img alt='picture of bathroom renovation' src='/images/8.jpg' />
						<img alt='picture of entrance renovation' src='/images/9.jpg' />
						<img alt='picture of entrance renovation' src='/images/10.jpg' />
					</div>
				</article>
			</div>
		</section>

		<section class='gallery-story'>
			<div class='u-container flow'>
				<p>
					Rockstar Renovations was started in January of 2020 as a side hustle for the owners,
					Michael and Brett. Soon, the two came to realize that their “side hustle” could be much
					more and they could even be their own bosses.
				</p>
				<a href='' role='button'>View Case Studies</a>
			</div>
		</section>
	</main>
</Layout>
