---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<main>
		<header class='hero'>
			<h1>Rockstar<br /><span>Renovations</span><br /><small>EST. 2020.</small></h1>
			<p>
				An fully insured business, both in general liability and workman’s compensation. Renovations
				for the modern style.
			</p>
			<a href='' role='button'>Lets get Rocking</a>
		</header>

		<section class='divider'>
			<div class='divider__line'>&nbsp;</div>
			<small class='divider__text'>WE GIVE THE ROCK STAR TREAMENT</small>
		</section>

		<section class='our-process'>
			<div class='our-process__subtitle'>
				<h2>Our process that rocks.</h2>
			</div>
			<div class='our-process__content'>
				<ul>
					<li>1. Estimate</li>
					<li>2. Communicate</li>
					<li>3. Make it great</li>
				</ul>
			</div>
		</section>
	</main>
</Layout>
