---
import NavbarHome from '../components/NavbarHome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Rockstar Renovations.">
  <main class="index">
    <header class="hero">
      <NavbarHome />
      <main class="u-container">
        <header class="title">
          <h1>Rockstar<br /><span class="shiftH1">Renovations</span></h1>
          <p class="shiftP">EST. 2020.</p>
        </header>
        <article class="content flow">
          <p>An fully insured business, both in general liability and workman's compensation. Renovations for the modern style.</p>
          <a href="" role="button"><i class="fa-solid fa-guitar-electric"></i> Lets get Rocking</a>
        </article>
      </main>
      <video class="video-bg" playsinline autoplay muted loop id="bgvid">
        <source src="video/darmel.mp4" type="video/mp4" />
      </video>
    </header>

    <section class="divider">
      <div class="divider__line">&nbsp;</div>
      <small class="divider__text">WE GIVE THE ROCKSTAR TREAMENT</small>
    </section>

    <section class="our-process">
      <div class="u-container flow">
        <header class="our-process__subtitle">
          <h2>Our process that rocks.</h2>
        </header>
        <article class="our-process__content">
          <div class="estimate flow">
            <h3>Estimate.</h3>
            <p>At Rockstar Renovations, we provide estimates for any renovation services you may need. We strive to provide accurate estimates based on your project's scope and our professional experience.</p>
          </div>
          <div class="estimate flow">
            <h3>Communicate.</h3>
            <p>We strive to ensure that our clients are always informed and up-to-date on the status of their project. Clients are aware of the progress of the project and any changes that may have been made.</p>
          </div>
          <div class="estimate flow">
            <h3>Make it great.</h3>
            <p>Knowing that the quality of our work is essential to a successful renovation project. We take the time to research and note the highest quality materials for every project, ensuring the highest standard.</p>
          </div>
        </article>
      </div>
    </section>

    <section class="tiny-story">
      <div class="u-container flow">
        <header>
          <h2>A bit of history.</h2>
        </header>
        <article class="flow">
          <p>Rockstar Renovations was started in January of 2020 as a side hustle for the owner, Michael Wilson. Soon, he came to realize that his “side hustle” could be much more and he could even be his own boss.</p>
          <div class="divider">
            <div class="divider__line">&nbsp;</div>
          </div>
          <a href="" role="button"><i class="fa-solid fa-guitar-electric"></i> Read Full Story</a>
        </article>
      </div>
    </section>

    <section class="case-studies">
      <div class="u-container flow">
        <header class="flow">
          <h2>Legendary Upgrades.</h2>
          <p>We are proud to showcase the projects we have completed for our clients. Each image showcases the work we have done, as well as our process, from estimate to completion.</p>
        </header>
        <article>
          <div class="demo-galery smol-flexbox-grid">
            <img alt="picture of kitchen renovation" src="/images/1.jpg" />
            <img alt="picture of bathroom renovation" src="/images/2.jpg" />
            <img alt="picture of bathroom renovation" src="/images/3.jpg" />
            <img alt="picture of bathroom renovation" src="/images/4.jpg" />
            <img alt="picture of bathroom renovation" src="/images/5.jpg" />
            <img alt="picture of entrance renovation" src="/images/6.jpg" />
          </div>
        </article>
      </div>
    </section>

    <section class="reviews">
      <div class="u-container">
        <article class="flow content">
          <div class="flow">
            <p>" Too many good things! Michael was upbeat, professional, worked efficiently and restored my kitchen and living room like a pro! Highly recommend! "</p>
            <p>~ Amy Leigh Davis</p>
          </div>
          <!-- <div class='flow'>
						<p>
							"Very knowledgable and professional, I hired Michael to remodel my shower and it
							turned out to be wonderful. high attention to details and they will answer any
							question you have."
						</p>
						<p>~ Fahad Shaban</p>
					</div>

					<div class='flow'>
						<p>"I would highly recommend Michael! He's professional, kind, and detailed."</p>
						<p>~ Ashley Hart</p>
					</div> -->
        </article>
      </div>
    </section>
  </main>
</Layout>
