---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<main>
		<header class='hero'>
			<Navbar />
			<main class='u-container'>
				<header class='title'>
					<h1>Rockstar<br /><span class='shiftH1'>Renovations</span></h1>
					<p class='shiftP'>EST. 2020.</p>
				</header>
				<article class='content'>
					<p>
						An fully insured business, both in general liability and workman's compensation.
						Renovations for the modern style.
					</p>
					<a href='' role='button'><i class='fa-solid fa-guitar-electric'></i> Lets get Rocking</a>
				</article>
			</main>
			<video class='video-bg' playsinline autoplay muted loop id='bgvid'>
				<source src='video/darmel.mp4' type='video/mp4' />
			</video>
		</header>

		<section class='divider'>
			<div class='divider__line'>&nbsp;</div>
			<small class='divider__text'>WE GIVE THE ROCKSTAR TREAMENT</small>
		</section>

		<section class='our-process'>
			<div class='u-container flow'>
				<header class='our-process__subtitle'>
					<h2>Our process that rocks.</h2>
				</header>
				<article class='our-process__content'>
					<div class='estimate flow'>
						<h3>Estimate.</h3>
						<p>
							At Rockstar Renovations, we provide estimates for any renovation services you may
							need. We strive to provide accurate estimates based on your project's scope and our
							professional experience.
						</p>
					</div>
					<div class='estimate flow'>
						<h3>Communicate.</h3>
						<p>
							We strive to ensure that our clients are always informed and up-to-date on the status
							of their project. Clients are aware of the progress of the project and any changes
							that may have been made.
						</p>
					</div>
					<div class='estimate flow'>
						<h3>Make it great.</h3>
						<p>
							Knowing that the quality of our work is essential to a successful renovation project.
							We take the time to research and note the highest quality materials for every project,
							ensuring the highest standard.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section class='tiny-story'>
			<div class='u-container flow'>
				<header>
					<h2>A bit of history.</h2>
				</header>
				<article>
					<p>
						Rockstar Renovations was started in January of 2020 as a side hustle for the owner,
						Michael Wilson. Soon, he came to realize that his “side hustle” could be much more and
						he could even be his own boss.
					</p>
					<a href='' role='button'><i class='fa-solid fa-guitar-electric'></i> Read Full Story</a>
				</article>
			</div>
		</section>

		<section class='case-studies'>
			<div class='u-container flow'>
				<header class='flow'>
					<h2>Gallery & Studies</h2>
					<p>
						We are proud to showcase the projects we have completed for our clients. Each case study
						showcases the work we have done, as well as our process, from estimate to completion.
					</p>
				</header>
				<article>
					<div class='smol-flexbox-grid'>
						<img src='https://picsum.photos/250/200/' />
						<img src='https://picsum.photos/250/200/' />
						<img src='https://picsum.photos/250/200/' />
						<img src='https://picsum.photos/250/200/' />
						<img src='https://picsum.photos/250/200/' />
						<img src='https://picsum.photos/250/200/' />
					</div>
				</article>
			</div>
		</section>

		<section class='reviews'>
			<div class='u-container'>
				<header class='flow'>
					<h2>Reviews</h2>
					<p>
						We are proud to showcase the projects we have completed for our clients. Each case study
						showcases the work we have done, as well as our process, from estimate to completion.
					</p>
				</header>
			</div>
		</section>
	</main>
</Layout>
