---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<main class='our-story'>
		<header class='hero'>
			<Navbar />
			<div class='u-container'>
				<div class='title'>
					<h1>Our Story</h1>
					<p>
						Started in 2020, we specialize in a variety of renovations services including tile,
						laminate, LVT, and LVP Installation; Drywall repair and installation; trim carpentry;
						and miscellaneous home and commercial maintenance. Our team of experienced professionals
						can provide you with the highest quality of service, ensuring that every job is done
						right the first time.
					</p>
				</div>
			</div>
		</header>

		<section class='owners'>
			<div class='u-container flow'>
				<img src='/images/mikey_nichole.jpg' />
				<div>
					<p class='small'>Photo of Michael Wilson and Nicole Burkhart.</p>
				</div>
			</div>
		</section>

		<section class='team'>
			<div class='u-container flow'>
				<div class='story'>
					<header class='our-process__subtitle'>
						<h2>Michael Wilson</h2>
					</header>

					<article class='our-process__content flow'>
						<div class='estimate flow'>
							<p>
								Michael Wilson, originally from the Baldwin City area, started Rockstar Renovations
								back in 2020 as a side job. After one year, he took the leap and decided to take the
								business full time.
							</p>
							<p>
								Michael has been an installer for seven years, with five years experience in home
								and apartment maintenance. Michael received a Bachelor of Arts in History and
								Sociology from Baker University. While at Baker he participated in their study
								abroad program at Harlaxton University in England. He was also a member in the Zeta
								Chi Fraternity.
							</p>
							<p>
								Michael is also a musician, and has played in a few rock bands. He plays guitar,
								bass, drums, and piano. One of the main reasons as to why Rockstar Renovations got
								its name! Michael considers himself a "Tile Guy", but a lot of us in the office
								consider him an artist. Michael loves remodeling homes because it returns an older
								house to its former glory.
							</p>
						</div>
					</article>
				</div>

				<div class='story'>
					<header class='our-process__subtitle'>
						<h2>Nicole Burkhart</h2>
					</header>
					<article class='our-process__content flow'>
						<div class='estimate flow'>
							<p>
								Originally from the Lawrence area, joined Rockstar Renovations in January of 2023.
							</p>
							<p>
								Nicole has eight years of banking experience including Accounts Payable, Marketing,
								and working as a Branch Manager. Nicole wears many hats with Rockstar Renovations as
								the Chief Administrative Officer. She handles HR, Marketing, Scheduling, Accounts
								Payable/Receivable, Customer and Vendor Correspondence, Design, and all other Office
								Administration. Nicole is also a musician and is a member of the Music Fraternity,
								Sigma Alpha Iota.
							</p>
							<p>
								Nicole received her Bachelor of Music in Vocal Performance from the University of
								Kansas, and her Master of Music in Vocal Performance from the University of
								Missouri-Kansas City. Nicole is primarily a singer but you can catch her playing
								guitar, piano, and drums from time to time. Nicole loves working in remodeling
								because homes are at the center of our lives. She loves seeing families creating new
								memories in rejuvenated spaces.
							</p>
						</div>
					</article>
				</div>
			</div>
		</section>
	</main>
</Layout>
