---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<Navbar />
	<main>
		<header class='hero'>
			<div class='u-container'>
				<div>
					<h1>Our Story</h1>
					<p>About Rockstar Renovations</p>
				</div>
			</div>
		</header>

		<section class='our-process'>
			<div class='u-container flow'>
				<header class='our-process__subtitle'>
					<h2>Michael</h2>
				</header>
				<article class='our-process__content flow'>
					<div class='estimate flow'>
						<p>
							Michael worked as an apprentice tile installer in Lawrence, KS for 2 years. He and his
							family worked.
						</p>
						<p>
							Then moved to Kansas City where he worked as an apartment maintenance technician for
							several more years before becoming a supervisor. Tile is Michael’s primary skill, but
							he has skills in many other areas as well including pool care for which he is CPO
							certified and HVAC for which he is Universally EPA certified.
						</p>
						<p>
							In fact, do you have a weird project in your home that you’re just not sure who to
							call or even where to start? Call Michael. His creativity and experience allows him to
							come up with solutions to tricky problems. And if he doesn’t have a solution, he will
							always do his best to at least point you in the right direction.
						</p>
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
