---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<Navbar />
	<main class='our-story'>
		<header class='hero'>
			<div class='u-container'>
				<div>
					<h1>Our Story</h1>
					<p>About Rockstar Renovations</p>
				</div>
			</div>
		</header>

		<section class='our-process'>
			<div class='u-container flow'>
				<header class='our-process__subtitle'>
					<h2>Michael</h2>
				</header>
				<article class='our-process__content flow'>
					<div class='estimate flow'>
						<p>
							Michael Wilson, originally from the Baldwin City area, started Rockstar Renovations
							back in 2020 as a side job. After one year, he took the leap and decided to take the
							business full time.
						</p>
						<p>
							Michael has been an installer for seven years, with five years experience in home and
							apartment maintenance. Michael received a Bachelor of Arts in History and Sociology
							from Baker University. While at Baker he participated in their study abroad program at
							Harlaxton University in England. He was also a member in the Zeta Chi Fraternity.
						</p>
						<p>
							Michael is also a musician, and has played in a few rock bands. He plays guitar, bass,
							drums, and piano. One of the main reasons as to why Rockstar Renovations got its name!
							Michael considers himself a "Tile Guy", but a lot of us in the office consider him an
							artist. Michael loves remodeling homes because it returns an older house to its former
							glory.
						</p>
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
