---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<main class='terms'>
		<header class='hero'>
			<Navbar />
			<div class='u-container'>
				<div class='title'>
					<h1>Privacy Policy</h1>
					<p>
						At Rockstar Renovations, we respect the privacy of our visitors and take the protection
						of personal data seriously. This Privacy Policy outlines the types of personal data we
						receive and collect when you use our website, as well as some of the steps we take to
						safeguard it.
					</p>
				</div>
			</div>
		</header>

		<section>
			<div class='u-container flow'>
				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Data We Collect</h2>
						<p>When you use our website, we may collect and store the following data:</p>
					</header>
					<article class='our-process__content flow'>
						<div class='estimate flow'>
							<ul class='flow' role='list'>
								<li><i class='fa-regular fa-circle fa-2xs'></i> Your name</li>
								<li><i class='fa-regular fa-circle fa-2xs'></i> Your email address</li>
								<li><i class='fa-regular fa-circle fa-2xs'></i> Your browsing activity</li>
								<li><i class='fa-regular fa-circle fa-2xs'></i> Your device information</li>
							</ul>
						</div>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Use of Data</h2>
						<p>We use the data we collect from you in the following ways:</p>
					</header>
					<article class='our-process__content flow'>
						<div class='estimate flow'>
							<ul class='flow' role='list'>
								<li>
									<i class='fa-regular fa-circle fa-2xs'></i> To improve our website in order to better
									serve you.
								</li>
								<li>
									<i class='fa-regular fa-circle fa-2xs'></i> To allow us to better service you in responding
									to your customer service requests.
								</li>
								<li>
									<i class='fa-regular fa-circle fa-2xs'></i> To send periodic emails regarding our services.
								</li>
							</ul>
						</div>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Data Protection</h2>
						<p>
							We take all reasonable steps to protect your data from misuse and unauthorized access.
							Your data is stored on secure servers behind a firewall and access to it is limited to
							a few authorized personnel.
						</p>
					</header>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Third Party Disclosure</h2>
						<p>
							We do not sell, trade, or otherwise transfer to outside parties your personally
							identifiable information. This does not include website hosting partners and other
							parties who assist us in operating our website, conducting our business, or servicing
							you, so long as those parties agree to keep this information confidential. We may also
							release your information when we believe release is appropriate to comply with the
							law, enforce our site policies, or protect ours or others' rights, property, or
							safety.
						</p>
					</header>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Third Party Links</h2>
						<p>
							Occasionally, at our discretion, we may include or offer third party products or
							services on our website. These third party sites have separate and independent privacy
							policies. We therefore have no responsibility or liability for the content and
							activities of these linked sites. Nonetheless, we seek to protect the integrity of our
							site and welcome any feedback about these sites.
						</p>
					</header>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Changes to This Policy</h2>
						<p>
							We may make changes to our Privacy Policy from time to time. We will post any changes
							to this page and will indicate the date of the last revision at the top of this page.
							Your continued use of our website after any changes have been made will constitute
							your acceptance of the changes.
						</p>
					</header>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Contact Us</h2>
						<p>If you have any questions about this Privacy Policy, please contact us.</p>
					</header>
				</div>
			</div>
		</section>
	</main>
</Layout>
