---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Rockstar Renovations.'>
	<main class='terms'>
		<header class='hero'>
			<Navbar />
			<div class='u-container'>
				<div class='title'>
					<h1>Terms of Service</h1>
				</div>
				<article>
					<p>
						These Terms of Service ("Terms") govern your access to and use of the Rockstar
						Renovations website and services ("Services"). By accessing or using the Services, you
						agree to be bound by these Terms. If you disagree with any part of the Terms then you
						may not access the Services.
					</p>
				</article>
			</div>
		</header>

		<section class='team'>
			<div class='u-container flow'>
				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Age Restriction</h2>
					</header>
					<article>
						<p>
							By accessing or using the Services you represent and warrant that you are 18 years of
							age or older.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Use of Services</h2>
					</header>
					<article>
						<p>
							You may use the Services only in compliance with these Terms. You may not use the
							Services for any other purpose than what is intended.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Scope of Work</h2>
					</header>
					<article>
						<p>
							Contractor shall provide all labor and applicable materials, and perform all work
							necessary for the completion of the improvements as described in the addendum titled
							Project Estimate (“Project”). Such drawings and specifications are hereby made a part
							of this Contract.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>CHANGES TO SCOPE OF WORK</h2>
					</header>
					<article>
						<p>
							Contractor shall provide all labor and applicable materials, and perform all work
							necessary for the completion of the improvements as described in the addendum titled
							Project Estimate (“Project”). Such drawings and specifications are hereby made a part
							of this Contract.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>LATE PAYMENT/DEFAULT</h2>
					</header>
					<article>
						<p>
							A failure to make payment for a period in excess of ten (10) days from the due date
							shall be deemed a material breach of this Contract. If payment is not made when due,
							Contractor may suspend work on the job until such time as all payments due have been
							made without breach of the Contract pending payment or resolution of any dispute.
							Owner agrees to pay a late charge of 1% of all payments that are more than ten (10)
							days late plus interests at the rate of 1% per month.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>DESTRUCTION AND DAMAGE</h2>
					</header>
					<article class='flow'>
						<p>
							If the Project is destroyed or damaged for any reason, except where such destruction
							or damage was caused by the sole negligence of the Contractor or its subcontractors,
							Owner shall pay Contractor for any additional work done by Contractor in rebuilding or
							restoring the Project to its condition prior to such destruction or damage.
						</p>

						<p>
							If the estimated cost of replacing work already accomplished by Contractor exceeds 20
							percent of the Contract price, the Contractor may terminate this Contract. Upon
							termination, the Contractor shall be excused from further performance under this
							Contract and Owner shall pay Contractor a percentage of the Contract Price in
							proportion to the amount of work accomplished prior to the destruction or damage.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>PERFORMANCE</h2>
					</header>
					<article class='flow'>
						<p>
							a. Contractor may, at its discretion, engage licensed subcontractors to perform work
							pursuant this Contract. Owner will solely be responsible for the cost to engage the
							licensed subcontractor.
						</p>
						<p>
							b. All work shall be completed in a workman-like manner and in compliance with all
							building codes and applicable laws. To the extent required by law, all work shall be
							performed by individuals duly licensed and authorized by law to perform said work.
						</p>
						<p>
							c. Contractor agrees to remove all debris and leave the premises in broom clean
							condition.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>ATTORNEY'S FEES AND COSTS</h2>
					</header>
					<article class='flow'>
						<p>
							If any party to this Contract brings a cause of action against the other party arising
							from or relating to this Contract, the prevailing party in such proceedings shall be
							entitled to recover reasonable attorney fees and court costs.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>WARRANTY</h2>
					</header>
					<article class='flow'>
						<p>
							Contractor's warranty shall be limited to defects in workmanship within the scope of
							work performed by Contractor and which arise and become known within one (1) year from
							the date hereof. All said defects arising after 1 (1) year and defects in material are
							not warrantied by Contractor. Contractor hereby assigns to Owner all warranties on
							materials as provided by the manufacturer of such materials.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Termination</h2>
					</header>
					<article>
						<p>
							We may terminate or suspend access to our Services immediately, without prior notice
							or liability, for any reason whatsoever, including without limitation if you breach
							the Terms.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Governing Law</h2>
					</header>
					<article>
						<p>
							These Terms shall be governed and construed in accordance with the laws of Kansas,
							without regard to its conflict of law provisions.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Modifications</h2>
					</header>
					<article>
						<p>
							We may revise these Terms from time to time. The changes will not be retroactive, and
							the most current version of the Terms, which will always be at Rockstarreno.com, will
							govern our relationship with you. We will try to notify you of material revisions, for
							example via a service notification or an email to the email associated with your
							account. By continuing to access or use the Services after those revisions become
							effective, you agree to be bound by the revised Terms.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Changes</h2>
					</header>
					<article>
						<p>
							We reserve the right, at our sole discretion, to modify or replace these Terms at any
							time. If a revision is material we will try to provide at least 30 days' notice prior
							to any new terms taking effect. What constitutes a material change will be determined
							at our sole discretion.
						</p>
					</article>
				</div>

				<div class='terms-content flow'>
					<header class='our-process__subtitle'>
						<h2>Contact Us</h2>
					</header>
					<article>
						<p>If you have any questions about these Terms, please contact us.</p>
					</article>
				</div>
			</div>
		</section>
	</main>
</Layout>
