<footer class='footer'>
	<div class='u-container'>
		<section class='divider'>
			<small class='divider__text'>ROCKSTAR RENOVATIONS</small>
		</section>

		<article class='top-footer'>
			<div class='termsandservices'>
				<ul class='termsandservices-items'>
					<li><a href='/gallery'>Renovations</a></li>
					<li><a href='/our-story'>Our Story</a></li>
					<li><a href='/contact-us'>Contact Us</a></li>
				</ul>
			</div>

			<div class='socials'>
				<ul class='socials-items'>
					<li>
						<a href='https://www.facebook.com/RockstarRenovations2020' target='_blank'>
							<i class='fa-brands fa-facebook'></i> Facebook
						</a>
					</li>
					<li>
						<a href='https://www.instagram.com/rockstar_renovations2020/' target='_blank'>
							<i class='fa-brands fa-instagram'></i> Instagram
						</a>
					</li>
				</ul>
			</div>
		</article>
		<hr />
		<article class='bottom-footer'>
			<p>
				<i class='fa-light fa-copyright'></i> Copyright 2023, Rockstar Renovations. All rights reserved.
			</p>
			<ul class='copy-items'>
				<li>
					<a href='/privacy-policy'>Privacy Policy</a>
				</li>
				<li>
					<a href='/terms-of-service'>Terms of Service</a>
				</li>
			</ul>
		</article>
	</div>
</footer>

<style lang='scss'>
	.svg-logo {
		max-width: 50px;
		width: 100%;
	}

	.footer {
		padding-block: var(--space-s);
		background-color: #131313;
		ul {
			display: flex;
			flex-direction: column;
			& li {
				list-style-type: none;
			}

			& li a {
				color: var(--background-base-color);
				text-decoration: none;
				transition: all 0.3s ease-in-out;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom: 1px solid var(--secondary-color);
					color: var(--background-base-color);
				}
			}
		}

		hr {
			margin-block: var(--space-s);
		}

		.divider {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			min-height: 100%;
			min-width: 100%;
			padding-block-end: var(--space-xl);

			.divider__line {
				flex-basis: 40%;
				height: 1.1em;
				background-color: var(--background-base-color);
			}

			.divider__text {
				padding-inline-end: 1em;
				font-family: 'Bebas Neue';
				font-weight: 400;
				font-size: var(--step-5);
				line-height: 2;
				display: block;
				color: var(--background-base-color);
			}
		}
	}

	.top-footer {
		display: flex;
		flex-direction: column;
		padding-block-end: var(--space-l);

		ul li + li {
			margin-block-start: var(--space-s);
		}
	}

	.bottom-footer {
		p {
			color: var(--background-base-color);
		}
	}

	.top-footer > * + * {
		margin-block-start: var(--space-s);
	}

	.bottom-footer > * + * {
		margin-block-start: var(--space-s);
	}

	.copy-items li + li {
		margin-block-start: var(--space-s);
	}

	@media (min-width: 76.88rem) {
		.footer {
			ul {
				flex-direction: row;
			}
		}

		.top-footer {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			ul li + li {
				margin-block-start: 0;
				margin-inline-start: var(--space-s);
			}
		}

		.top-footer > * + * {
			margin-block-start: 0;
		}

		.bottom-footer {
			display: flex;
			justify-content: space-between;
		}

		.bottom-footer > * + * {
			margin-block-start: 0;
			margin-inline-start: var(--space-s);
		}

		.copy-items li + li {
			margin-block-start: 0;
			margin-inline-start: var(--space-s);
		}
	}
</style>
