---
const { color } = Astro.props;
---

<nav class='navigation u-container'>
	<div class='hamburger'>&#9776;</div>
	<div class='nav'>
		<ul class='navigation-items'>
			<li><a href='/'>Home</a></li>
			<li><a href='/gallery'>Renovations</a></li>
			<li><a href='/our-story'>Our Story</a></li>
			<li><a href='/contact'>Contact Us</a></li>
		</ul>
	</div>
	<div class='filler'>
		<a href='#' role='button-dark' style='background-color: var(--secondary-color); border: none;'>
			<i class='fa-solid fa-guitars'></i>Get An Estimate
		</a>
	</div>
</nav>
<style lang='scss'>
	.svg-logo {
		max-width: 80px;
		width: 100%;
	}

	.navigation {
		display: flex;
		align-items: center;
		padding-block: var(--space-m);
		padding-inline: var(--space-2xl);
	}

	.filler {
		display: none;
	}

	.nav {
		height: 0px;
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		width: 100vw;
		background-color: var(--dark-color);
		transition: 0.5s;
		overflow: hidden;

		&.active {
			height: 600px;
		}
	}

	.hamburger:hover {
		cursor: pointer;
	}

	.navigation-items {
		display: block;
		text-align: center;
		width: fit-content;
		margin-inline: auto;
		margin-block: 80px auto;
		transition: 0.5s;
		opacity: 0;

		& li {
			list-style-type: none;
		}

		& li + li {
			margin-block-start: var(--space-s);
		}

		& li a {
			color: black;
			transition: all 0.3s ease-in-out;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid cadetblue;
			}
		}

		& li a .active {
			color: red;
		}
	}

	.nav.active .navigation-items {
		opacity: 1;
	}

	@media (min-width: 56.88rem) {
		.navigation {
			justify-content: space-between;
		}

		.nav,
		.filler {
			display: block;
			a {
				color: black;
			}
		}

		.hamburger {
			display: none;
		}

		.nav {
			height: auto;
			position: relative;
			top: 0;
			width: auto;
			background-color: transparent;
			transition: 0.2s;
			overflow: auto;
		}

		.navigation-items {
			display: flex;
			gap: max(calc(10vw - 200px), 16px);
			margin: 0;
			opacity: 1;

			& li {
				list-style-type: none;
			}

			& li a {
				color: black;
				text-decoration: none;
			}

			& li + li {
				margin-inline-start: var(--space-m);
				margin-block-start: 0;
			}
		}
	}
</style>

<script>
	let hamburger: HTMLElement = document.querySelector('.hamburger');
	hamburger.onclick = function () {
		let navbar = document.querySelector('.nav');
		navbar.classList.toggle('active');
	};
</script>
